*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
}

.main-container{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: space-between;
    align-items: center;
}

.main-content{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}