@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray-background: #eef0f4;
    --white-background: #FFF
}

body{
    background-color: var(--gray-background);
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
}

.main-container{
    display: flex;
    flex-direction: row;
    height: 100dvh;
    justify-content: space-between;
    align-items: center;
}

.main-content{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header{
    width: 15%;
    height: 100dvh;
    
    padding: 36px 18px;
}

.main-header-content{
    border-radius: 16px;
    width: 100%;
    background-color: var(--white-background);
    padding: 24px 18px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    height: 60dvh;
    justify-content: space-between;
    align-items: center;
    color: #200E32;
}

.main-header-content > footer, .header-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header-img{
    width: 72px;
    height: auto;
    margin-bottom: 18px;
}

.header-text{
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.4rem;
}

.forms-fill{
    width: 50%;
}

.cv-show{
    width: 45%;
    padding-right: 36px;
}

.cv-download{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cv-download > p {
    font-weight: 700;
    font-style: italic;
}

.basic-form-fill, .education-form-fill, .professional-form-fill, .save-cv {
    margin-bottom: 24px;
    background-color: var(--white-background);
    padding: 24px 18px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.filling-form{
    width: 100%;
}



.form-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.form-header > p{
    font-size: 1.4rem;
    font-weight: 700;
    /* margin-bottom: 12px; */
    padding-left: 12px;
}

.filling-form > form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.input-dates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type=text], input[type=date], textarea{
    background-color: var(--gray-background);
    border: none;
    border-radius: 12px;
    height: 2.5rem;
    padding: 0 12px;
    outline: none;
}

textarea{
    resize: none;
    height: 4rem;
    padding-top: 6px;
}

.filling-form  label {
    padding-left: 12px;
    margin-bottom: 6px;
    font-weight: 700;
}

.save-form{
    justify-self: flex-end;
}

.delete-form{
    justify-self: flex-start;
}



.cv-section{
    width: 100%;
    padding: 24px 48px;
    background-color: var(--white-background);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-height: 700px;
    height: fit-content;
}

.forms-fill, .cv-show{
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    height: 100dvh;
}

.forms-fill, .cv-show{
    padding-top: 36px;
}

.forms-fill::-webkit-scrollbar, .cv-show::-webkit-scrollbar{
    display: none;
}

hr{
    border: 1px solid black;
}

.basic-form-show, .form-show-info{
    
    padding-left: 12px;
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.basic-form-general-info, .form-show-info{
    /* border-top: 1px solid black; */
    flex-grow: 1;
    padding-top: 8px;
}

.basic-form-general-info > .fullName{
    font-weight: 700;
}

.basic-form-general-info > .email{
    font-style: italic;
}

.form-show-info > .entry {
    display: flex;
    flex-direction: column;
}

.basic-form-show, .form-show-info{
    border-top: 5px solid var(--gray-background);
}


.entry > .form-city-country > .city::after{
    content: ',';
    margin-right: 5px;
}

.entry > .form-dates > p:first-child::after{
    content: '  -';
}

.entry > .form-dates > p:first-child{
    margin-right: 5px;
}

.entry > .jobTitle{
    font-weight: 700;
}

.entry > .company{
    font-style: italic;
}

.expand-icon{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.save-form {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 30px;
    padding: 8px 16px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
}

.save-form > span, .edit-form > span, .delete-form > span, .download-button > span{
    display: flex;
    align-items: center;
}

.save-form > span > span, .edit-form > span > span, .delete-form > span > span, .download-button > span > span {
    margin: 0 4px;
}

.save-form:disabled{
    opacity: 0.4;
  cursor: not-allowed;
}

.edit-form {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 30px;
    padding: 8px 16px;
    border: none;
    /* border: 1px solid #222222; */
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
}

.edit-form:hover {
    /* border-color: #000000; */
    background: var(--gray-background);
}

.delete-form{
    /* display: inline-block;
    outline: none; */
    padding: 8px 16px;
    font-weight: 600;
    /* border-radius: 30px;
    padding: 2px; */
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* background-color: #222222; */
}

/* .delete-form > span {
    background-color: var(--white-background);
    border-radius: 30px;
    padding: 8px 16px;
} */

.download-button{
    padding: 8px 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    /* border: 1px solid #200E32; */
    border: none;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    /* background-color: #200E32; */
    color: var(--white-background);
}


.svg-right, .svg-delete, .svg-edit, .svg-download{
    width: 24px;
    height: auto;
}

.form-header-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-header-title > p{
    font-weight: 700;
    font-size: 1.4rem;
}

.form-header-img{
    width: 24px;
    height: auto;
    margin: 0 12px;
}


.form-buttons{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.form-show-info > .entry> .degree{
    font-weight: 700;
}

.form-show-info > .entry> .school{
    font-style: italic;
}

.form-city-country, .form-dates{
    display: flex;
    flex-direction: row;
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ CV CSS @@@@@@@@@@@@@@@@@@@@@@@@@@@@  */

.cv-basic-info{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cv-basic-info > p {
    height: fit-content;
    font-size: 0.8rem;
}

.cv-basic-info > p.fullName  {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.cv-basic-info > p.phone {
    margin: 0 12px;
}

.cv-education-info, .cv-pro-info{
    min-height: 200px;
    height: fit-content;
}

.cv-section-title{
    font-weight: 700;
    border-bottom: 2px solid black;
    /* font-size: 0.9rem; */
}

.cv-education-info > .entry:first-of-type, .cv-pro-info > .entry:first-of-type{
    margin-top: 12px;
}

.cv-education-info > .entry {
    display: grid;
    grid-template-areas: 
    "cv-degree-school . . . . cv-dates"
    ". . . . . cv-city-country"
    ;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
    /* column-gap: 5px; */
}

.cv-degree-school, .cv-dates, .cv-city-country{
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
}

.cv-degree-school{
    grid-area: cv-degree-school;
}

.entry > .cv-degree-school> .degree{
    font-weight: 700;
}

.entry > .cv-degree-school> .school{
    font-style: italic;
    margin-left: 5px;
}

.cv-dates{
    grid-area: cv-dates;
    justify-self: flex-end;
}

.entry > .cv-dates > .startDate, .entry > .cv-dates > .startDatePro{
    margin-right: 5px;
}

.cv-city-country{
    grid-area: cv-city-country;
    justify-self: flex-end;
}

.entry > .cv-city-country > .city, .entry > .cv-jobTitle-company > .jobTitle{
    margin-right: 5px;
}

.entry > .cv-degree-school> .degree::after, .entry > .cv-city-country > .city::after, .entry > .cv-jobTitle-company > .jobTitle::after{
    content: ',';
}

.entry > .cv-dates > .startDate::after, .entry > .cv-dates > .startDatePro::after{
    content: '  -';
}

.mainTasks{
    white-space: pre-line;
    font-size: 0.55rem;
}

.cv-education-info > .entry, .cv-pro-info > .entry {
    margin-bottom: 18px;
}

.cv-pro-info > .entry {
    display: grid;
    grid-template-areas:
    "cv-jobTitle-company cv-jobTitle-company cv-jobTitle-company . . cv-dates"
    "mainTasks mainTasks mainTasks mainTasks mainTasks mainTasks";
}

.cv-pro-info > .entry > .cv-jobTitle-company{
    grid-area: cv-jobTitle-company;
    display: flex;
    flex-direction: row;
}

.entry > .cv-jobTitle-company > .jobTitle{
    font-weight: 700;
    font-size: 0.9rem;
}

.entry > .cv-jobTitle-company > .company{
    font-style: italic;
    font-size: 0.9rem;
}

.cv-pro-info > .entry > .cv-dates{
    grid-area: cv-dates;
    font-size: 0.9rem;
}

.cv-pro-info > .entry > .cv-mainTasks{
    grid-area: mainTasks;
    margin-top: 5px;
}
/* .input-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */